.alerts {

  .ui-autocomplete-loading {
    background: white url('plugins/CustomAlerts/images/ui-anim_basic_16x16.gif') right center no-repeat;
  }

  .entityAddContainer {
    position: relative;
  }


  .entityCancel {
    float: none;
    clear: none;
    right: 0px;
    position: absolute;
    padding: 17px 0px;
  }
}
