.alerts {

  form {
    margin-bottom: 80px;
  }

  &.centerLargeDiv {
    width: 900px;
  }

  .ui-autocomplete-loading {
    background: white url('plugins/CustomAlerts/images/ui-anim_basic_16x16.gif') right center no-repeat;
  }

  .entityAddContainer {
    position: relative;

    td.first {
      width: 190px !important;
    }
  }

  #alertReportSiteSelector {
    position: initial;
  }

  .entityCancel {
    float: none;
    clear: none;
    right: 0px;
    position: absolute;
    padding: 17px 0px;
  }

  #reportValue,
  #metricValue {
    width: 80px;
    min-height: 29px;
    height: 30px;
  }

  #reportValue {
    width: 250px;
  }

  .inlineSelect {
    padding: 3px 3px 4px 3px;
    margin-bottom: 2px;
    border-radius: 0px;
    color: #666;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border: 1px solid #d4d4d4
  }
}

@-moz-document url-prefix() {
  .alerts .inlineSelect {
    padding: 6.5px 3px 3px;
  }
}

#CustomAlerts_MissingPlugins ul {
  list-style: inherit;
  padding-left: inherit;
}

.entityListContainer {
  .entityCancel {
    padding: 0px;
    margin-top: -24px;
    margin-bottom: 5px;
  }
  td {
    word-wrap: break-word;
  }
  .name {
    max-width: 250px;
  }
  .edit {
    min-width: 60px;
  }
  .delete {
    min-width: 77px;
  }
}