.alerts {

  table.dataTable img {
    margin-right: 0;
  }

  form {
    margin-bottom: 80px;
  }

  .ui-autocomplete-loading {
    background: white url('plugins/CustomAlerts/images/ui-anim_basic_16x16.gif') right center no-repeat;
  }

  #reportValue,
  #metricValue {
    width: 160px;
  }

  .row.conditionAndValue {
    > .col {
      padding-left: 0;
      padding-right: 0;
    }

    .row.form-group {
      margin-left: 0;
      margin-right: 0;
    }
  }

  #reportValue {
    width: 250px;
  }
  td {
    word-wrap: break-word;
  }
  .name {
    max-width: 250px;
  }
  .edit {
    min-width: 60px;
    padding-top: 2px;
  }
  .delete {
    min-width: 77px;
    padding-top: 2px;
  }
}

#CustomAlerts_MissingPlugins ul {
  list-style: inherit;
  padding-left: inherit;
}
