{% extends 'admin.twig' %}

{% block content %}

<div class="alerts">
    {% include "@CustomAlerts/form.twig" with {
        headline: 'CustomAlerts_CreateNewAlert'|translate
    } %}
</div>

{% endblock %}