{% extends 'admin.twig' %}

{% import '@CustomAlerts/macros.twig' as alertsMacro %}

{% block content %}

    <div
        vue-entry="CustomAlerts.HistoryTriggeredAlerts"
    >
        {{ alertsFormatted|raw }}
    </div>

{% endblock %}
