{% extends 'admin.twig' %}

{% import '@CustomAlerts/macros.twig' as alertsMacro %}

{% block content %}

    <div
        vue-entry="CustomAlerts.HistoryTriggeredAlerts"
        alerts-formatted="{{ alertsFormatted|json_encode|e('html_attr') }}"
    ></div>

{% endblock %}
