{% extends 'dashboard.twig' %}

{% import '@CustomAlerts/macros.twig' as alertsMacro %}

{% block content %}

    <div class="centerLargeDiv">
        <h2>{{ 'CustomAlerts_AlertsHistory'|translate }}</h2>

        <div class='entityListContainer'>
            <div class="entityCancel">
                <a class="entityCancelLink"
                   href="{{ linkTo({'module': 'CustomAlerts', 'action': 'index'}) }}"
                    >{{ 'CustomAlerts_ManageAlerts'|translate }}</a>
            </div>

            {{ alertsFormatted|raw }}
        </div>

        <br />
        <br />
    </div>
{% endblock %}
