{% extends 'admin.twig' %}

{% set title %}{{ 'CustomAlerts_ManageAlerts'|translate }}{% endset %}

{% block content %}

    <div piwik-content-block class="alerts"
         content-title="{{ title|e('html_attr') }}">

        {% include "@CustomAlerts/list.twig" %}
    </div>
{% endblock %}