{% extends 'admin.twig' %}

{% set title %}{{ 'CustomAlerts_ManageAlerts'|translate }}{% endset %}

{% block content %}
    <div
        vue-entry="CustomAlerts.ListAlertsPage"
        content-title="{{ title|json_encode }}"
        alerts="{{ alerts|default(null)|json_encode }}"
    ></div>
{% endblock %}