{% extends 'dashboard.twig' %}
{% block content %}
    {% include "@CoreHome/_siteSelectHeader.twig" %}

    <div class="centerLargeDiv">
        <h2>{{ 'CustomAlerts_ManageAlerts'|translate }}</h2>

        <div id="entityContainer">
            {% include "@CustomAlerts/list.twig" %}
            <a id='bottom'></a>
        </div>
    </div>
{% endblock %}