{% extends 'dashboard.twig' %}
{% block content %}

    <div class="centerLargeDiv">
        <h2 piwik-enriched-headline>{{ 'CustomAlerts_ManageAlerts'|translate }}</h2>

        {% include "@CustomAlerts/list.twig" %}
    </div>
{% endblock %}